{include file="public/layout" /}

<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
{include file="archives/left" /}
{include file="Article/bar" /}
<div class="page arctype min-hg-c-66" style="min-width: auto; margin-left: 100px;">
    <div class="flexigrid">
        <div class="mDiv mb10">
            <div class="ftitle">
                {eq name="'Article@arctype_add'|is_check_access" value="1"}
                <div class="fbutton"><a href="{:url('Article/arctype_add')}"><div class="add"><span><i class="layui-icon layui-icon-addition"></i>添加</span></div></a></div>
                {/eq}
            </div>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellpadding="0" cellspacing="0" style="width: 100%">
                    <thead>
                        <tr>
                            <th axis="col3" class="">
                                <div class="sundefined text-l10">
                                    {if condition="!empty($tree['cookied_treeclicked'])"}
                                    <img src="__SKIN__/images/tv-collapsable-last.gif" id="all_treeclicked" title="关闭所有子分类" style="float: none;" data-status="open" onclick="treeClicked(this, 'all', 0);">
                                    {else /}
                                    <img src="__SKIN__/images/tv-expandable.gif" id="all_treeclicked" title="展开所有子分类" style="float: none;" data-status="close" onclick="treeClicked(this, 'all', 0);">
                                    {/if}分类名称
                                </div>
                            </th>
                            <th axis="col2" class="w100"> <div class="tc">分类图片</div> </th>
                            <th axis="col2" class="w80"> <div class="tc">显示</div> </th>
                            <th axis="col1" class="w150"> <div class="tc">创建时间</div> </th>
                            <th axis="col1" class="w180"> <div class="tc">操作</div> </th>
                            <th axis="col2" class="w60"> <div class="tc">排序</div> </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div id="flexigrid" class="bDiv" style="height: auto;">
            <table class="flex-table autoht" cellpadding="0" cellspacing="0" border="0" id="arctype_table" style="width: 100%">
                <tbody id="treet1">
                    <tr nctype="0" class="parent_id_0" data-level="0" data-id="1">
                        <td class="typename" style="width: 100%">
                            <div>
                                <img src="/public/static/admin/images/tv-collapsable-last.gif" style="float: none;" fieldid="2"
                                    status="open" nc_type="flex" onclick="treeClicked(this, 1, 0);" class="has_children childrenImg"
                                    data-level="0" data-id="1">
                                <input type="text" onchange="changeTableVal('arctype', 'id', '1', 'typename', this);" value="舒适拖鞋">
                            </div>
                        </td>
                        <td class="sort">
                            <div class="w100 tc pd0">
                                <div class="image-li">
                                    <img class="image-content" id="litpic_1" src="/public/static/common/images/not_upload_pic.png"
                                        onclick="recordArctypeID(1);" title="点击更换图片">
                                </div>
                            </div>
                        </td>
                        <td align="center" class="">
                            <div class="w80 tc">
                                <span class="yes" onclick="changeTableVal('arctype', 'id', '1', 'is_hidden', this);"><i
                                        class="fa fa-check-circle"></i>是</span>
                            </div>
                        </td>
                        <td class="sort">
                            <div class="w150 tc"> 2024-06-24 09:20:43 </div>
                        </td>
                        <td class="operation">
                            <div class="w180 tc">
                                <a href="/login.php?m=admin&amp;c=ShopProduct&amp;a=arctype_edit&amp;id=1" class="btn blue">编辑</a>
                                <i></i>
                                <a href="/login.php?m=admin&amp;c=ShopProduct&amp;a=arctype_add&amp;parent_id=1" class="btn blue">增加子分类</a>
                                <i></i>
                                <a class="btn red" href="javascript:void(0);" onclick="arctypeDel(1);">删除</a>
                            </div>
                        </td>
                        <td class="sort">
                            <div class="w60 tc">
                                <input type="text" onchange="changeTableVal('arctype', 'id', '1', 'sort_order', this);" size="4" value="100"
                                    class="tc" onkeyup="this.value=this.value.replace(/^\D*([0-9]\d*)?.*$/,'$1');"
                                    onpaste="this.value=this.value.replace(/^\D*([0-9]\d*)?.*$/,'$1');">
                            </div>
                        </td>
                    </tr>
                    <tr nctype="0" style="" class="parent_id_1" data-level="1" data-id="5">
                        <td class="typename" style="width: 100%">
                            <div>
                                <span class="w40x"></span> <img src="/public/static/admin/images/tv-collapsable-last.gif"
                                    style="float: none;" fieldid="2" status="open" nc_type="flex" class="childrenImg">
                                <input type="text" onchange="changeTableVal('arctype', 'id', '5', 'typename', this);" value="四季拖鞋">
                            </div>
                        </td>
                        <td class="sort">
                            <div class="w100 tc pd0">
                                <div class="image-li">
                                    <img class="image-content" id="litpic_5" src="/uploads/allimg/20240527/1-24052G623191Z.jpg"
                                        onclick="recordArctypeID(5);" title="点击更换图片">
                                </div>
                            </div>
                        </td>
                        <td align="center" class="">
                            <div class="w80 tc">
                                <span class="yes" onclick="changeTableVal('arctype', 'id', '5', 'is_hidden', this);"><i
                                        class="fa fa-check-circle"></i>是</span>
                            </div>
                        </td>
                        <td class="sort">
                            <div class="w150 tc"> 2024-06-24 17:30:25 </div>
                        </td>
                        <td class="operation">
                            <div class="w180 tc">
                                <a href="/login.php?m=admin&amp;c=ShopProduct&amp;a=arctype_edit&amp;id=5" class="btn blue">编辑</a>
                                <i></i>
                                <a class="btn grey" title="不支持增加四级分类">不支持增加</a>
                                <i></i>
                                <a class="btn red" href="javascript:void(0);" onclick="arctypeDel(5);">删除</a>
                            </div>
                        </td>
                        <td class="sort">
                            <div class="w60 tc">
                                <input type="text" onchange="changeTableVal('arctype', 'id', '5', 'sort_order', this);" size="4" value="100"
                                    class="tc" onkeyup="this.value=this.value.replace(/^\D*([0-9]\d*)?.*$/,'$1');"
                                    onpaste="this.value=this.value.replace(/^\D*([0-9]\d*)?.*$/,'$1');">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        {empty name="arctype_list"}
            <div id="" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <div class="no_row"> <div class="no_pic"> <img src="__SKIN__/images/null-data.png"> </div> </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        {else /}
            <table class="flex-table autoht" cellpadding="0" cellspacing="0" border="0" id="arctype_table" style="width: 100%">
                <tbody id="treet1">
                {foreach name="arctype_list" item="vo" key="k" }
                    <tr nctype="0" {if condition="!in_array($vo.parent_id,$tree.cookied_treeclicked) && 0 < $vo.parent_id "} style="display:none;"{/if} class="parent_id_{$vo['parent_id']}" data-level="{$vo['level']}" data-id="{$vo['id']}">
                        <td class="typename" style="width: 100%">
                            <div>
                                {gt name='vo.level' value='0'}
                                {php}
                                if (1 == $vo['level']) {
                                    echo '<span class="w40x"></span>';
                                } else if ($vo['level'] >= 2) {
                                    echo '<span class="w40x w40xc'.$vo['level'].'" style="margin-right:'.(($vo['level'] - 1) * 25).'px;"></span>';
                                }
                                {/php}
                                {/gt}
                                {gt name="vo.has_children" value="0"}
                                <img src="{in name='$vo.id' value='$tree.cookied_treeclicked'}__SKIN__/images/tv-collapsable-last.gif{else /}__SKIN__/images/tv-expandable.gif{/in}" style="float: none;" fieldid="2" status="open" nc_type="flex" onclick="treeClicked(this, {$vo['id']}, 0);" class="has_children childrenImg" data-level="{$vo['level']}" data-id="{$vo['id']}">
                                {else /}
                                <img src="__SKIN__/images/tv-collapsable-last.gif" style="float: none;" fieldid="2" status="open" nc_type="flex" class="childrenImg">
                                {/gt}
                                {eq name="'ShopProduct@arctype_add'|is_check_access" value="1"}
                                <input type="text" onchange="changeTableVal('arctype', 'id', '{$vo.id}', 'typename', this);" value="{$vo.typename}"/>
                                {else /}
                                {$vo.typename}
                                {/eq}
                            </div>
                        </td>
                        <td class="sort">
                            <div class="w100 tc pd0">
                                <div class="image-li">
                                    <img class="image-content" id="litpic_{$vo.id}" src="{$vo.litpic|default='__PUBLIC__/static/common/images/not_upload_pic.png'}" {eq name="'ShopProduct@arctype_add'|is_check_access" value="1"} onclick="recordArctypeID({$vo.id});" title="点击更换图片" {/eq}>
                                </div>
                            </div>
                        </td>
                        <td align="center" class="">
                            <div class="w80 tc">
                                {if condition='$vo.is_hidden eq 1'}
                                <span class="no" {eq name="'ShopProduct@arctype_add'|is_check_access" value="1"} onclick="changeTableVal('arctype', 'id', '{$vo.id}', 'is_hidden', this);" {/eq} ><i class="fa fa-ban"></i>否</span>
                                {else /}
                                <span class="yes" {eq name="'ShopProduct@arctype_add'|is_check_access" value="1"} onclick="changeTableVal('arctype', 'id', '{$vo.id}', 'is_hidden', this);" {/eq} ><i class="fa fa-check-circle"></i>是</span>
                                {/if}
                            </div>
                        </td>
                        <td class="sort"> <div class="w150 tc"> {$vo.add_time|date='Y-m-d H:i:s',###} </div> </td>
                        <td class="operation">
                            <div class="w180 tc">
                                <a href="{:url('ShopProduct/arctype_edit', ['id'=>$vo['id']])}" class="btn blue">编辑</a>
                                {eq name="'ShopProduct@arctype_add'|is_check_access" value="1"}
                                <i></i>
                                {if condition="$vo['grade'] < ($arctype_max_level - 1)"}
                                <a href="{:url('ShopProduct/arctype_add', ['parent_id'=>$vo['id']])}" class="btn blue">增加子分类</a>
                                {else /}
                                <a class="btn grey" title="不支持增加四级分类">不支持增加</a>
                                {/if}
                                {/eq}
                                {eq name="'ShopProduct@arctype_del'|is_check_access" value="1"}
                                <i></i>
                                <a class="btn red" href="javascript:void(0);" onclick="arctypeDel({$vo.id});">删除</a>
                                {/eq}
                            </div>
                        </td>
                        <td class="sort">
                            <div class="w60 tc">
                                {eq name="'ShopProduct@arctype_add'|is_check_access" value="1"}
                                <input type="text" onchange="changeTableVal('arctype', 'id', '{$vo.id}', 'sort_order', this);" size="4" value="{$vo.sort_order}" class="tc" onkeyup="this.value=this.value.replace(/^\D*([0-9]\d*)?.*$/,'$1');" onpaste="this.value=this.value.replace(/^\D*([0-9]\d*)?.*$/,'$1');"/>
                                {else /}
                                {$vo.sort_order}
                                {/eq}
                            </div>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        {/empty}
        </div>
    </div>
</div>

<script type="text/javascript">
    // 删除分类
    function arctypeDel(id) {
        var msgHtml = '确认删除分类？删除时子分类会一起删除，所属商品更新为无分类！';
        layer.alert(msgHtml, {
            move: false,
            closeBtn: 3,
            btnAlign:'r',
            title: '提示',
            shade: layer_shade,
            btn: ['确定', '取消'],
            area: ['480px', '190px'],
            success: function () {
                $(".layui-layer-content").css('text-align', 'left');
            }
        }, function() {
            layer_loading('正在处理');
            $.ajax({
                type: 'post',
                url : "{:url('ShopProduct/arctype_del')}",
                data: {id: id, _ajax: 1},
                dataType: 'json',
                success: function(res) {
                    layer.closeAll();
                    if (1 === parseInt(res.code)) {
                        layer.msg(res.msg, {icon: 1, time: 1500}, function() {
                            window.location.reload();
                        });
                    } else {
                        // 提示内容
                        showErrorMsg(res.msg);
                    }
                },
                error: function(e) {
                    layer.closeAll();
                    showErrorAlert(e.responseText);
                }
            });
        });
    }
</script>
<script type="text/javascript">
    $(function() {
        setCookies('admin-treeClicked-Arr', JSON.stringify({$tree.cookied_treeclicked_arr}) );
    });
    
    // 记录当前点击要上传图片的分类ID
    var arctypeID = 0;
    function recordArctypeID(id) {
        arctypeID = id;
        // 调用图片上传
        GetUploadify(1, '', 'allimg', 'uploadLitPicCallBack');
    }

    // 上传更新分类图片
    function uploadLitPicCallBack(litpic) {
        if (litpic) {
            layer_loading('正在处理');
            // 确定
            $.ajax({
                type: "post",
                url : "{:url('ShopProduct/ajaxArctypeLitpicUpload')}",
                data: {id: arctypeID, litpic: litpic, _ajax:1},
                dataType: 'json',
                success: function(res) {
                    layer.closeAll();
                    if (1 === parseInt(res.code)) {
                        $('#litpic_' + arctypeID).attr('src', litpic);
                        layer.msg(res.msg, {icon: 1, time: 1500});
                    } else {
                        layer.alert(res.msg, {icon: 2, title: false});
                    }
                }
            })
        }
    }

     // 点击展开 收缩节点
    function treeClicked(obj,id,reload) {
        if (id == 'all') {
            if (1 == reload) {
                var status = getCookie('admin-treeClicked');
                if (!status) status = $(obj).attr('data-status');
            } else {
                var status = $(obj).attr('data-status');
            }
            if (status == 'close') {
                setCookies('admin-treeClicked-Arr', JSON.stringify({$tree.parent_ids}));
                setCookies('admin-treeClicked_All', 1);//1为全部展开,0-为非全部展开
                $('tr[class^=parent_id_]').show();
                $('.childrenImg').attr('src', '__SKIN__/images/tv-collapsable-last.gif');
                $(obj).attr('data-status', 'open').attr('title','关闭所有子分类').attr('src','__SKIN__/images/tv-collapsable-last.gif');
            } else {
                setCookies('admin-treeClicked-Arr', '');
                setCookies('admin-treeClicked_All', 0);
                $('tr[data-level=0]').find('img.has_children').attr('src', '__SKIN__/images/tv-collapsable-last.gif').trigger('click');
                $('tr[class^=parent_id_]').removeClass('trSelected');
                $(obj).attr('data-status', 'close').attr('title','展开所有子分类').attr('src','__SKIN__/images/tv-expandable.gif');
            }
            setCookies('admin-treeClicked', status);
            return false;
        }

        var src = $(obj).attr('src');
        if (src == '__SKIN__/images/tv-expandable.gif') {
            var arr = [];
            var str = getCookie('admin-treeClicked-Arr');
            if ('' == str || null == str || 'null' == str) {
                arr.push(id);
            } else {
                arr = JSON.parse(str);
                if (!arr.includes(id))arr.push(id);
            }
            arr = JSON.stringify(arr);
            setCookies('admin-treeClicked-Arr', arr);
            $(".parent_id_"+id).show();
            $(obj).attr('src','__SKIN__/images/tv-collapsable-last.gif');
            var status = 'close';
        } else {
            var key = -1;
            var arr = [];
            var level = '';
            var str = getCookie('admin-treeClicked-Arr');
            if ('' != str) {
                arr = JSON.parse(str);
                key = $.inArray(id,arr);
                if (-1 < key) arr.splice(key,1);
                level = $(obj).attr('data-level');
                $(obj).parent().parent().parent().nextAll().each(function() {
                    if ($(this).attr('data-level') > level) {
                        key = $.inArray(parseInt($(this).attr('data-id')), arr);
                        if (-1 < key) arr.splice(key,1);
                    } else {
                        return false;
                    }
                });
                arr = JSON.stringify(arr);
                setCookies('admin-treeClicked-Arr', arr);
                setCookies('admin-treeClicked_All', 0);
            }

            var status = 'open';
            $(obj).attr('src', '__SKIN__/images/tv-expandable.gif');     

            // 如果是点击减号, 遍历循环他下面的所有都关闭
            var fnd = false;
            var cur_tr = obj.parentNode.parentNode.parentNode;
            var tbl = document.getElementById("arctype_table");
            for (var i = 0; i < tbl.rows.length; i++) {
                var row = tbl.rows[i];
                if (row == cur_tr) {
                    fnd = true;
                } else {
                    if (fnd == true) {
                        var cur_level = $(cur_tr).data('level');
                        var level = parseInt($(row).data('level'));
                        if (level > cur_level) {
                            $(row).hide();        
                            $(row).find('img.has_children').attr('src','__SKIN__/images/tv-expandable.gif');
                        } else {
                            fnd = false;
                            break;
                        }
                    }
                }
            }
        }
        setCookies('admin-treeClicked', status);
    }
  
    function delfun(obj){
        var title = $(obj).attr('data-typename');
        var deltype = $(obj).attr('data-deltype');
        var confirm_title = '确认删除到回收站？子分类及文档将一起清空至回收站。';
        if ('del' == deltype) {
            confirm_title = '确认直接删除？子分类及文档将一起清空。';
        }
        layer.confirm(confirm_title, {
            area: ['480px', '190px'],
            move: false,
            title: '提示',
            btnAlign:'r',
            closeBtn: 3,
            shade: layer_shade,
            btn: ['确定','取消'] ,//按钮
            success: function () {
                  $(".layui-layer-content").css('text-align', 'left');
              }
        }, function(){
            layer_loading('正在处理');
            // 确定
            $.ajax({
                type : 'post',
                url : $(obj).attr('data-url'),
                data : {del_id:$(obj).attr('data-id'),deltype:deltype,_ajax:1},
                dataType : 'json',
                success : function(data){
                    layer.closeAll();
                    if(data.code == 1){
                        layer.msg(data.msg, {icon: 1});
                        window.location.reload();
                        // $('tr[data-id="'+$(obj).attr('data-id')+'"]').remove();
                    }else{
                        layer.alert(data.msg, {icon: 2, title:false});  //alert(data);
                    }
                }
            })
        }, function(index){
            layer.close(index);
        });
        return false;
    }

    /**
     * 批量删除分类提交
     */
    function batch_del_arctype(obj, name){
        var a = [];
        $('input[name^='+name+']').each(function(i,o){
            if($(o).is(':checked')){
                a.push($(o).val());
            }
        })
        if(a.length == 0){
            layer.alert('请至少选择一项', {
                shade: layer_shade,
                area: ['480px', '190px'],
                move: false,
                title: '提示',
                btnAlign:'r',
                closeBtn: 3,
                success: function () {
                      $(".layui-layer-content").css('text-align', 'left');
                  }
            });
            return;
        }
        var deltype = $(obj).attr('data-deltype');
        var confirm_title = '确认删除到回收站？如有子分类及文档将一起清空。';
        if ('del' == deltype) {
            confirm_title = '确认直接删除？如有子分类及文档将一起清空。';
        }
        layer.confirm(confirm_title, {
            area: ['480px', '190px'],
            move: false,
            title: '提示',
            shade: layer_shade,
            btnAlign:'r',
            closeBtn: 3,
            btn: ['确定','取消'] ,//按钮
            success: function () {
                  $(".layui-layer-content").css('text-align', 'left');
              }
        }, function(){
            layer_loading('正在处理');
            // 确定
            $.ajax({
                type : 'post',
                url : $(obj).attr('data-url'),
                data : {del_id:a,deltype:deltype,_ajax:1},
                dataType : 'json',
                success : function(data){
                    layer.closeAll();
                    if(data.code == 1){
                        layer.msg(data.msg, {icon: 6});
                        window.location.reload();
                        // $('tr[data-id="'+$(obj).attr('data-id')+'"]').remove();
                    }else{
                        layer.alert(data.msg, {icon: 5, title:false});  //alert(data);
                    }
                }
            })
        }, function(index){
            layer.close(index);
        });
        return false;
    }

    function single_uiset_select(obj)
    {
        var url = $(obj).attr('data-href');
        var pc_url = url + '&v=pc';
        var mobile_url = url + '&v=mobile';
        var content = $('#div_single_uiset_select').html();
        content = content.replace('pc_url', pc_url);
        content = content.replace('mobile_url', mobile_url);
        layer.open({
            type: 1,
            title: false,
            shadeClose: false,
            maxmin: false, //开启最大化最小化按钮
            area: ['350px', '150px'],
            content: content
        });
    }

    /**
     * 设置分类风格
     * @param {[type]} obj [description]
     */
    function set_arctype_conf(obj){
        layer_loading('正在处理');
        $.ajax({
            type : 'post',
            url : "{:url('ShopProduct/arctype_conf', ['_ajax'=>1])}",
            data : $('#conf_post_form').serialize(),
            dataType : 'json',
            success : function(res){
                layer.closeAll();
                if(res.code == 1){
                    layer.msg(res.msg, {shade: layer_shade, time: 1000}, function(){
                        window.location.reload();
                    });
                }else{
                    showErrorMsg(res.msg);
                }
            },
            error: function(e){
                layer.closeAll();
                showErrorAlert(e.responseText);
            }
        });
    }


</script>
{include file="public/footer" /}