{include file="public/layout" /}

{eq name="$editor.editor_select" value="1"}
    {load href="__PUBLIC__/plugins/Ueditor/ueditor.config.js" /}
    {load href="__PUBLIC__/plugins/Ueditor/ueditor.all.min.js" /}
    {load href="__PUBLIC__/plugins/Ueditor/lang/zh-cn/zh-cn.js" /}
{else/}
    {load href="__PUBLIC__/plugins/ckeditor/ckeditor.js" /}
{/eq}

<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
{include file="archives/left" /}
<div class="fixed-bar nobg" style="width: auto;margin-left: 100px;">
    <div class="item-title mb10">
        <div class="subject">
            {include file="public/callback_page_1" /}<!-- 返回箭头 -->
            <h3>添加单页</h3>
            <h5></h5>
        </div>
    </div>
</div>
<div class="page pd0 min-hg-c-110 mb-20 nobg" style="min-width:auto;margin-left:100px;">
    <div class="flexigrid">
        <form class="form-horizontal" id="post_form">
            <div class="ncap-form-default ncap-form-default-waimao pt0 pb0 tab_div_1">
                <div class="form-default-box">
                    <div class="form-default-left">
                        <div class="form-defaul-con mb10">
                            {include file="archives/get_field_left" /}
                            {include file="archives/get_field_addonextitem" /}
                        </div>
                    </div>
                    <div style="width: 10px;background-color: #f4f4f4;"></div>

                    <div class="form-default-right">
                        {include file="archives/get_field_right" /}
                    </div>
                </div>
            </div>

            <div class="bottom-fixed">
                <div class="bot4">
                    <input type="hidden" name="editor_addonFieldExt" id="editor_addonFieldExt" value="">
                    <a href="JavaScript:void(0);" onclick="check_submit();" class="ncap-btn-big ncap-btn-green">保存</a>
                    {include file="public/callback_page_2" /}<!-- 返回按钮 -->
                </div>
            </div> 
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.form-defaul-con').each(function() {
            if (!$.trim($(this).html()) || '' == $.trim($(this).html())) $(this).hide();
        });
    });

    // 判断输入框是否为空
    function check_submit() {
        if ($.trim($('input[name=title]').val()) == '') {
            $($('.tab-base').find('.tab')[0]).trigger('click'); 
            showErrorMsg('标题不能为空！');
            $('input[name=title]').focus();
            return false;
        }

        layer_loading('正在处理');
        setTimeout(function () {
            editor_auto_210607();

            $.ajax({
                type: 'post',
                url : "{:custom_url('Single/add', ['_ajax'=>1])}",
                data: $('#post_form').serialize(),
                dataType: 'json',
                success: function(res) {
                    layer.closeAll();
                    if (res.code == 1) {
                        showSuccessMsg(res.msg, 1500, function() {
                            window.location.href = res.url;
                        });
                    } else {
                        showErrorMsg(res.msg);
                    }
                },
                error: function(e) {
                    layer.closeAll();
                    showErrorAlert(e.responseText, 5);
                }
            });
        }, 1);
    }
</script>
{include file="public/footer" /}