<div class="fixed-bar mb10">
    <div class="item-title">
        <ul class="tab-base nc-row">
            <li {eq name='$inc_type' value='admin_login'}class="current"{/eq}>
                <a href="{:url('Vertify/index', ['inc_type'=>'admin_login'])}">
                    <span>验证码管理</span>
                    <!-- <span>后台登录</span> -->
                </a>
            </li>
            <!-- <li {eq name='$inc_type' value='guestbook'}class="current"{/eq}>
                <a href="{:url('Vertify/index', ['inc_type'=>'guestbook'])}">
                    <span>询盘提交</span>
                </a>
            </li> -->
        </ul>
    </div>
</div>