<div class="fixed-bar mb10" style="min-width:auto;margin-left:100px;">
    <div class="item-title">
        <ul class="tab-base nc-row">
            <li {if condition="'web'==$Think.const.ACTION_NAME"}class="current"{/if}>
                <a href="{:custom_url('System/web')}">
                    <span>基础设置</span>
                </a>
            </li>
            <li {if condition="'web2'==$Think.const.ACTION_NAME"}class="current"{/if}>
                <a href="{:custom_url('System/web2')}">
                    <span>核心设置</span>
                </a>
            </li>
            <li {if condition="'customvar_index'==$Think.const.ACTION_NAME"}class="current"{/if}>
                <a href="{:custom_url('System/customvar_index')}">
                    <span>自定义变量</span>
                </a>
            </li>
        </ul>
        {if condition="'System' == $Think.const.CONTROLLER_NAME and in_array($Think.const.ACTION_NAME, ['web','customvar_index'])"}
            {include file="archives/lang_switch" /}
        {/if}
    </div>
</div>